/*css for index.html*/

.delAll-btn{
    position: absolute;
    top: 50px;
    margin-left: 20px;
    font-size: 20px;
    color: #666666;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.trans{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
